a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

header {
  background-color: #e1dfd7;
}

html {
  font-size: 14px;
  font-family: 'Damascus'
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  background-color: #e1dfd7;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

